<link rel="stylesheet" href="stylesheets/style.css">
<div>
  <h1>Adote</h1>
  <p>"Quer sentir o amor puro e verdadeiro todos os dias??? Adote um animal, a gratidão será eterna e o amor
    incondicional! Marta Naufal Arruda</p>
  <img src="images/cat-691175__340.jpg" />
</div>