<link rel="stylesheet" href="stylesheets/style.css">
<div>
  <h1>Doar também é um gesto de amor</h1>
  <p>"Ninguém nunca vai entender o que você sente e o que você faz, até passar pela mesma situação. Vergonha é ver seu animal sofrendo e não fazer nada."</p>
  <img src="images/cat-691175__340.jpg" />
</div>