<div>
  <link rel="stylesheet" href="stylesheets/style.css">
  <div>
    <h1>"Eles me ensinaram o significado da lealdade, e a nunca esquecer aqueles que amamos.” Sempre ao Seu Lado</h1>
    <p>{{mensagem}}</p>
    <img src="images/s69-ted2684-bb-ae-02-l.jpg">
  </div>
</div>